html,
body {
    background: #161616 !important;
}

/* Our test bar */
#lambda-search-bar {
    position: sticky !important;
    top: 0 !important;
    z-index: 999999999 !important;

    width: 100% !important;
    height: 70px !important;

    display: flex !important;
    align-items: center !important;
    gap: 25px !important;

    padding: 10px 30px !important;

    background: #222 !important;

    border-bottom: 3px solid #ff00ff !important;
}

#lambda-logo {
    color: #ff00ff !important;

    font-family: monospace !important;
    font-size: 24px !important;
    font-weight: bold !important;
}

#lambda-form {
    width: 600px !important;
}

#lambda-input {
    width: 100% !important;
    height: 42px !important;

    background: #000 !important;
    color: #fff !important;

    border: 2px solid #ff00ff !important;
    border-radius: 6px !important;

    padding: 0 15px !important;

    font-family: monospace !important;
}

/* Make Google's page obviously dark */
body,
#searchform,
#main,
#cnt,
#center_col,
#res {
    background: #161616 !important;
}

a {
    color: #ff00ff !important;
}

h3 {
    color: #fff !important;
}
